$dark-primary:          #F57C00;
$primary:               #FF9800;
$light-primary:         #FFE0B2;

$dark-secondary:        #455A64;
$secondary:             #607D8B;
$light-secondary:       #CFD8DC;

$accent:                #03A9F4;
$primary-text:          #212121;
$white-text:            #fff;
$secondary-text:        #757575;
$background-color:      #f2f2f2;

$small-shadow:          0 -1px 0 #e0e0e0, 
                        0 0 2px rgba(0,0,0,.12), 
                        0 2px 4px rgba(0,0,0,.24);

$medium-shadow:         0 0 3px rgba(0,0,0,.13), 
                        0 3px 6px rgba(0,0,0,.26);

$big-shadow:            0 0 4px rgba(0,0,0,.14), 
                        0 4px 8px rgba(0,0,0,.28);